
<% form_remote_for :checklist do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :badge %><br />
    XXXXXXXXXXXXXXXXXXXXXXXXXXX
  </p>
  <p>
    <%= f.label :part_number %><br />
    XXXXXXXXXXXXXXXXXXXXXXXXXXX
  </p>
  <p>
    <%= f.label :order_number %><br />
    XXXXXXXXXXXXXXXXXXXXXXXXXXX
  </p>
  <p>
    <%= f.label :layer %><br />
    XXXXXXXXXXXXXXXXXXXXXXXXXXX
  </p>
  <p>
    <%= f.label :tool_down %><br />
    XXXXXXXXXXXXXXXXXXXXXXXXXXX
  </p>
  <p>
    <%= f.label :tool_bottom %><br />
    XXXXXXXXXXXXXXXXXXXXXXXXXXX
  </p>
  <p>
    <%= f.label :orientation %><br />
    XXXXXXXXXXXXXXXXXXXXXXXXXXX
  </p>
<% end %>