<h1>New checklist</h1>
<% form_remote_for :checklist, :url => { :action => object } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :badge %><br />
    <%= f.text_field :badge %>
  </p>
  <p>
    <%= f.label :part_number %><br />
    <%= f.text_field :part_number %>
  </p>
  <p>
    <%= f.label :order_number %><br />
    <%= f.text_field :order_number %>
  </p>
  <p>
    <%= f.label :layer %><br />
    <%= f.text_field :layer %>
  </p>
  <p>
    <%= f.label :tool_down %><br />
    <%= f.text_field :tool_down %>
  </p>
  <p>
    <%= f.label :tool_bottom %><br />
    <%= f.text_field :tool_bottom %>
  </p>
  <p>
    <%= f.label :orientation %><br />
    <%= f.text_field :orientation %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<%= link_to 'Back', checklists_path %>