<h1>Listing checklists</h1>

<table>
  <tr>
    <th>Badge</th>
    <th>Part number</th>
    <th>Order number</th>
    <th>Layer</th>
    <th>Tool down</th>
    <th>Tool bottom</th>
    <th>Orientation</th>
  </tr>

<% @checklists.each do |checklist| %>
  <tr>
    <td><%=h checklist.badge %></td>
    <td><%=h checklist.part_number %></td>
    <td><%=h checklist.order_number %></td>
    <td><%=h checklist.layer %></td>
    <td><%=h checklist.tool_down %></td>
    <td><%=h checklist.tool_bottom %></td>
    <td><%=h checklist.orientation %></td>
    <td><%= link_to 'Show', checklist %></td>
    <td><%= link_to 'Edit', edit_checklist_path(checklist) %></td>
    <td><%= link_to 'Destroy', checklist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New checklist', new_checklist_path %>